* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url('./image/Fundo header(2).png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 103vh;
  margin: 0;
}

header h1 {
  transform: skew(-15deg);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container div, h1 {
  color: aliceblue;
  text-align: center;
  margin-top: 2em;
  font-size: 5em;
  font-family: 'Anton', sans-serif;
}

header button {
  padding: 1em;
  background-color: rgba(250, 254, 14, 0.978);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Anton', sans-serif;
  font-size: 1.2em;
}

h2 {
  position: relative;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-size: 1.8em;
  color: white;
}

h2::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 90px;
  background-image: url('/image/_FC313725-1115-4406-9893-3313C38AD9A2_-removebg-preview.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1.1;
  z-index: 0;
  margin-left: -60px;
}

.Sobre {
  background-color: #141414;
  padding: 50px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Sobre .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 300px;
  margin-top: -160px;
}

.sobre-texto {
  text-align: left;
  flex: 1;
  max-width: 400px;
}

.Sobre h1 {
  font-family: 'Anton', sans-serif;
  font-size: 35PX;
  color: rgba(250, 254, 14, 0.978);
  margin-bottom: 10px;
  text-align: left;
  max-width: 100%;
  transform: skew(-15deg);
}

.Sobre p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 110px;
  text-align: left;
}

.sobre-imagem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  margin-left: -140px;
  justify-content: flex-start;
}

.sobre-imagem img {
  max-width: 250px;
  border-radius: 10px;
}

.sobre-imagem img:first-child {
  align-self: flex-start;
}

#img1 {
  margin-left: -50px;
}

#imag2 {
  margin-left: 210px;
  margin-top: -100px;
}

.oque-oferecemos {
  background-color: #1a1a1a;
  padding: 50px 20px;
  background-color: #141414;
  padding: 50px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Oque-oferecemso h1 {
  font-family: 'Anton', sans-serif;
  font-size: 60PX;
  color: rgba(250, 254, 14, 0.978);
  margin-bottom: 10px;
  text-align: center;
  max-width: 100%;
  transform: skew(-15deg);
}

.oque-oferecemos h2, p {
  height: 60px;
  color: white;
}

.Oque-oferecemos {
  margin-top: -150px;
  align-items: center;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 4em;
}

.card {
  position: relative;
  width: calc(33.33% - 20px);
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 580px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
}

.card h3 {
  font-size: 2em;
  position: absolute;
  top: 40%;
  left: 33%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.978);
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin: 0;
  transform: skew(-15deg);
}

card, p.card-text {
  text-align: center;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: rgba(250, 254, 14, 0.978);
}

.entre-em-contato {
  position: relative;
  background-image: url('./image/fundo-final.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 2em;
  padding-bottom: 0;
  color: #000;
  font-weight: bold;
  background-color: #000;
}

.entre-em-contato::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: rgba(255, 234, 3, 0.95);
  z-index: 1;
}

.entre-em-contato > * {
  position: relative;
  z-index: 2;
  margin-top: 4em;
}

.entre-em-contato div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6em;
}

.entre-em-contato h2 {
  margin: 0 0 5px 0;
  font-size: 3em;
  color: #000;
}

.entre-em-contato p {
  margin: 0;
  font-weight: normal;
  color: #000;
  font-weight: bold;
  font-size: 1.1em;
}

.entre-em-contato h1 {
  font-family: 'Anton', sans-serif;
  color: rgba(255, 234, 3, 0.95);
  font-size: 3em;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 2;
  transform: skew(-15deg);
}

.footer-contato {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  color: #000;
  z-index: 2;
  font-weight: normal;
}
